<h1 class="uk-text-center" style="font-weight: 500">Reset your password</h1>

<div class="uk-container">
  <form #form="ngForm" >
    <div>
    <input class="uk-input uk-margin-small" name="email" [(ngModel)]="user.email" placeholder="Email" type="email"
           #email="ngModel" required email/>
    <div class="uk-alert uk-margin-remove-top" style="background: rgba(255,0,0,0.05)"
         *ngIf="email.invalid && (email.dirty || email.touched)">
      <div *ngIf="email.errors?.['required']">
        Email is required.
      </div>
      <div *ngIf="email.errors?.['email']">
        Please enter a valid email.
      </div>
    </div>
    </div>
    <button class="uk-button uk-margin-small" [disabled]="form.invalid" (click)="sendFormData()">Reset password</button>

    <p>Already have an account ? <a [routerLink]="['/login']"> --> Sign in</a></p>
  </form>
</div>
